:root {
    --poppins: 'Poppins', sans-serif;
}

.poppins {
    font-family: var(--poppins) !important;
}

* {
    border: none;
    transition: .3s;
    font-family: var(--poppins);
}

.text-purple {
    color: rgb(37, 7, 94) !important;
}

.shadow-md {
    box-shadow: 2px 2px 10px rgba(0 0 0 / .2);
}

.text-grey {
    color: #777 !important;
}

body {
    max-height: 100vh;
    width: 100%;
    /* background-color: #eaeaea; */
}

/* sb */
.icon-sb {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 25px;
}

.icon-sb i {
    display: block;
    padding: 10px 25px;
}

#sidebar {
    background-color: #eaeaea;
    width: 75px;
    padding-top: 50px;
}

#sidebarAft {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(37, 7, 94);
    z-index: -1;
    border-radius: 0 20px 0 0;
}

#sidebarBfr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(37, 7, 94);
    z-index: -1;
    border-radius: 0 0 20px 0;
}

#box {
    position: absolute;
    left: 0;
    height: 57.5px;
    right: 0;
    background-color: rgb(37, 7, 94);
    z-index: -1;
}

#boxSc {
    position: absolute;
    left: 5px;
    height: 57.5px;
    right: 0;
    background-color: #eaeaea;
    z-index: -1;
    border-radius: 30px 0 0 30px;
}


/* content */
#content {
    background-color: #eaeaea;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 75px;
}

.box-info,
.top-ranking {
    background-color: #f5f5f5;
}