:root {
    --poppins: 'Poppins', sans-serif;
}

.poppins {
    font-family: var(--poppins) !important;
}

* {
    border: none;
}

body {
    max-height: 100vh;
    width: 100%;
}

/* HOME */

#menu {
    display: none;
}

#navbar {
    box-shadow: 10px 10px 10px black;
}

#navbar,
#content {
    height: 100vh;
    color: rgb(248, 249, 250);
}

.hover {
    color: rgb(13, 110, 253) !important;
    background-color: rgb(248, 249, 250);
}

#content {
    color: #333;
}

.admin-menu:hover {
    background-color: rgb(13, 110, 253) !important;
    color: rgb(248, 249, 250) !important;
}

.dropdown.show {
    left: 0 !important;
    transform: scaleY(1) !important;
}

.showing {
    display: block !important;
}

#manage,
#list,
#pengumuman,
#help {
    display: none;
}

@media (max-width: 767px) {
    #navbar {
        height: 60px;
        position: relative;
        box-shadow: none;
    }

    #content {
        height: fit-content;
    }

    #navbar ul {
        position: absolute;
        transform: scaleY(0);
        top: 60px;
        left: -100%;
        right: 0;
        background-color: rgb(13, 110, 253);
        transition: .3s;
    }

    #menu {
        display: block;
    }
}