:root {
    --poppins: 'Poppins', sans-serif;
}

.poppins {
    font-family: var(--poppins) !important;
}

* {
    border: none;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: var(--poppins);
    background-color: transparent;
    color: white;
}

body::before {
    content: '';
    z-index: -1;
    position: absolute;
    background-image: url(../asset/img/bg-login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    filter: brightness(.5);
}

form,
.box {
    backdrop-filter: blur(5px);
}

.input-container,
.box {
    width: 387px;
    position: relative;
}

label {
    position: absolute;
    left: 45px;
    transition: .3s;
}

input {
    margin-top: 25px;
    color: #eaeaea;
    font-weight: 100;
    width: 300px;
    transition: .3s;
}

input:focus {
    outline: none !important;
    color: white;
    font-weight: 100;
}